body {
  background-color: rgb(26, 32, 45);
}
h1 {
  color: rgb(255, 186, 36);
  text-align: center;
  font-family: "Fredoka One";
}
#game {
  width: 800px;
  height: 480px;
  margin: auto;
  stroke: yellow;
  stroke-width: 5px;
}
